<html>

<head>
	<style>
	table {
	  max-width: 100%; 
	}
	table td {
	  word-break: break-all;
	}	
	</style>
</head>

<body>
	<table border="1" align="center" style="width:100%">
		<tr>
			<th> time </th>
			<th> tag </th>
			<th> question</th>
			<th> answer </th>
			<th> evaluation </th>
		</tr>
		{% for q, a, t, time in q_a%}
		<tr>
			<form action='/gen_qa_pair' method="post" id="gen_qa_pair">
				<td width=10%>{{time}}</td>
				<td width=5%>{{t}}</td>
				<td width=15%>{{q}}</td>
				<td width=50%>{{a}}</td>
				<input type="hidden" name="time" value="{{time}}" />
				<input type="hidden" name="tag" value="{{t}}" />
				<input type="hidden" name="question" value="{{q}}" />
				<input type="hidden" name="answer" value="{{a}}" />
				<input type="hidden" name="course_id" value="{{course}}">
				<td width=30%>
					<input type="radio" name="evaluate" value="good pair">Good pair<br>
					<input type="radio" name="evaluate" value="good question">Good question<br>
					<input type="radio" name="evaluate" value="bad">Bad<br>
					edit question:<br>
					<input class="form-control" type="text" name="amended_q" style="width:200px" /><br>
					edit answer:<br>
					<input class="form-control" type="text" name="amended_a" style="width:200px" /><br>
					<input class="btn btn-default" type="submit" value="Save" />
				</td>
			</form>
		<tr>
			{%endfor%}
	</table>
</body>
</html>